@use "../../../themes/tailwind/tailwind-light/variables";
@use "../../mixins";

@use 'sass:math';

//core
.p-inputswitch {
    position: relative;
    display: inline-block;
}

.p-inputswitch-input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    outline: 0 none;
    cursor: pointer;
}

.p-inputswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}

.p-inputswitch-slider:before {
    position: absolute;
    content: '';
    top: 50%;
}

//theme
.p-inputswitch {
    width: variables.$inputSwitchWidth;
    height: variables.$inputSwitchHeight;

    .p-inputswitch-input {
        border-radius: variables.$inputSwitchBorderRadius;
    }

    .p-inputswitch-slider {
        background: variables.$inputSwitchSliderOffBg;
        transition: variables.$formElementTransition;
        border-radius: variables.$inputSwitchBorderRadius;
        outline-color: transparent;

        &:before {
            background: variables.$inputSwitchHandleOffBg;
            width: variables.$inputSwitchHandleWidth;
            height: variables.$inputSwitchHandleHeight;
            left: variables.$inputSwitchSliderPadding;
            margin-top: math.div(-1 * variables.$inputSwitchHandleHeight, 2);
            border-radius: variables.$inputSwitchHandleBorderRadius;
            transition-duration: variables.$transitionDuration;
        }
    }

    &.p-highlight {
        .p-inputswitch-slider {
            background: variables.$inputSwitchSliderOnBg;

            &:before {
                background: variables.$inputSwitchHandleOnBg;
                transform: translateX(variables.$inputSwitchHandleWidth);
            }
        }
    }

    &:not(.p-disabled) {
        &:has(.p-inputswitch-input:hover) {
            .p-inputswitch-slider {
                background: variables.$inputSwitchSliderOffHoverBg;
            }

            &.p-highlight {
                .p-inputswitch-slider {
                    background: variables.$inputSwitchSliderOnHoverBg;
                }
            }
        }

        &:has(.p-inputswitch-input:focus-visible) {
            .p-inputswitch-slider {
                @include mixins.focused();
            }
        }
    }

    &.p-invalid > .p-inputswitch-slider {
        @include mixins.invalid-input();
    }
}