@use "../../../themes/tailwind/tailwind-light/variables";
@use "../../mixins";

.p-password {
    &.p-invalid.p-component > .p-inputtext {
        @include mixins.invalid-input();
    }
}

.p-password-panel {
    padding: variables.$panelContentPadding;
    background: variables.$panelContentBg;
    color: variables.$panelContentTextColor;
    border: variables.$overlayContentBorder;
    box-shadow: variables.$inputOverlayShadow;
    border-radius: variables.$borderRadius;

    .p-password-meter {
        margin-bottom: variables.$inlineSpacing;
        background: variables.$passwordMeterBg;

        .p-password-strength {
            &.weak {
                background: variables.$passwordWeakBg;
            }

            &.medium {
                background: variables.$passwordMediumBg;
            }

            &.strong {
                background: variables.$passwordStrongBg;
            }
        }
    }
}