@use "sass:list";
@use "../../../themes/tailwind/tailwind-light/variables";

.p-orderlist {
	.p-orderlist-controls {
		padding: variables.$panelContentPadding;

		.p-button {
			margin-bottom: variables.$inlineSpacing;
		}
	}

	.p-orderlist-header {
		background: variables.$panelHeaderBg;
		color: variables.$panelHeaderTextColor;
		border: variables.$panelHeaderBorder;
		padding: variables.$panelHeaderPadding;
		font-weight: variables.$panelHeaderFontWeight;
		border-bottom: 0 none;
		border-top-right-radius: variables.$borderRadius;
		border-top-left-radius: variables.$borderRadius;
	}

	.p-orderlist-filter-container {
		padding: variables.$panelHeaderPadding;
		background: variables.$panelContentBg;
		border: variables.$panelHeaderBorder;
		border-bottom: 0 none;

		.p-orderlist-filter-input {
			padding-right: list.nth(variables.$inputPadding, 2) + variables.$primeIconFontSize;
		}

		.p-orderlist-filter-icon {
			right: list.nth(variables.$inputPadding, 2);
			color: variables.$inputIconColor;
		}
	}

	.p-orderlist-list {
		border: variables.$panelContentBorder;
		background: variables.$panelContentBg;
		color: variables.$panelContentTextColor;
		padding: variables.$inputListPadding;
		border-bottom-right-radius: variables.$borderRadius;
		border-bottom-left-radius: variables.$borderRadius;
		outline: 0 none;

		.p-orderlist-item {
			padding: variables.$inputListItemPadding;
			margin: variables.$inputListItemMargin;
			border: variables.$inputListItemBorder;
			color: variables.$inputListItemTextColor;
			background: variables.$inputListItemBg;
			transition: transform variables.$transitionDuration, variables.$listItemTransition;

			&:not(.p-highlight):hover {
				background: variables.$inputListItemHoverBg;
				color: variables.$inputListItemTextHoverColor;
			}

			&.p-focus {
				color: variables.$inputListItemTextFocusColor;
				background: variables.$inputListItemFocusBg;
			}

			&.p-highlight {
				color: variables.$highlightTextColor;
				background: variables.$highlightBg;

				&.p-focus {
					background: variables.$highlightFocusBg;
				}
			}
		}
	}

	&.p-orderlist-striped {
		.p-orderlist-list {
			.p-orderlist-item:nth-child(even) {
				background: variables.$panelContentEvenRowBg;

				&:hover {
					background: variables.$inputListItemHoverBg;
				}
			}
		}
	}
}
