@use "../../../themes/tailwind/tailwind-light/variables";
@use "../../mixins";

.p-panel {
    .p-panel-header {
        border: variables.$panelHeaderBorder;
        padding: variables.$panelHeaderPadding;
        background: variables.$panelHeaderBg;
        color: variables.$panelHeaderTextColor;
        border-top-right-radius: variables.$borderRadius;
        border-top-left-radius: variables.$borderRadius;

        .p-panel-title {
            font-weight: variables.$panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            @include mixins.action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: variables.$panelToggleableHeaderPadding;
        }
    }

    &:has(> .p-panel-footer) .p-panel-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .p-panel-content {
        padding: variables.$panelContentPadding;
        border: variables.$panelContentBorder;
        background: variables.$panelContentBg;
        color: variables.$panelContentTextColor;
        border-bottom-right-radius: variables.$borderRadius;
        border-bottom-left-radius: variables.$borderRadius;
        border-top: 0 none;
    }

    .p-panel-footer {
        padding: variables.$panelFooterPadding;
        border: variables.$panelFooterBorder;
        background: variables.$panelFooterBg;
        color: variables.$panelFooterTextColor;
        border-top: 0 none;
    }
}
